<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "MailClient Credentials Verification">

<test name="Valid Credentials">
    <classes>
        <class name="Login_ValidCredentials"></class>
    </classes>
</test>

<test name="Invalid Credentials">
    <classes>
        <class name="Login_InvalidCredentials"></class>
    </classes>
</test>

</suite>